<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoForm</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="my_file" id="my_file">
        <input type="text" name="file_name" placeholder="File Name">
        <button>Submit</button>
    </form>
</body>
</html>