{{define "nav"}}
<nav>
    <div class="nav-wrapper cyan">
        <a href="/" class="brand-logo" style="margin-left: 15px">Home</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/images">Images</a></li>
            <li><a href="/me">Change me</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>
{{end}}