{{template "header"}}

{{template "nav"}}

<div class="container">
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card cyan white-text">
                <div class="card-content center-align">
                    <h3 class="flow-text">Welcome USER</h3>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "footer"}}
