<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/images/favicon.ico" rel="icon" type="image/x-icon"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import css-->
    <link type="text/css" rel="stylesheet" href="assets/materialize/css/materialize.min.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="assets/styles/main.css">
    <title>Todo</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper cyan lighten-2">
            <h4 class="brand-logo center">Go ToDo</h4>
        </div>
    </nav>

    <div class="wrapper">
        <div class="row">
            {{ range $i, $e := . }}
            {{ if not $e.Deleted }}
            <div class="col s6 offset-s3">
                <div class="card-panel" style="margin-bottom: 5px;">
                    <div class="row" style="margin: 0;">
                        <div class="col s1">
                            {{ if $e.Completed }}
                            <a class="btn-floating green lighten-1 left" href="/toggle-task/{{ $i }}">
                                <i class="material-icons">done</i>
                            </a>
                            {{ else }}
                            <a class="btn-floating green lighten-4 left" href="/toggle-task/{{ $i }}">
                                <i class="material-icons">done</i>
                            </a>
                            {{ end }}
                        </div>
                        <div class="col s10" style="padding: 0;">
                            <p class="flow-text">{{ $e.Name }}</p>
                        </div>
                        <div class="col s1">
                            <a class="btn-floating red lighten-1 right" href="/delete-task/{{ $i }}">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>

        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card-panel center-align">
                    <form action="/new-task" method="post">
                        <div class="row" style="margin:0;">
                            <div class="input-field col s11">
                                <input id="task" type="text" name="task">
                                <label for="task">New Task</label>
                            </div>
                            <div class="col s1" style="padding-top:10px">
                                <button class="btn-floating btn-large cyan lighten-1 waves-effect waves-light right" type="submit">
                                    <i class="large material-icons">add</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <img src="assets/images/go-gopher.png" alt="Go Gopher" id="gopher-img">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="assets/materialize/js/materialize.min.js"></script>
</body>
</html>