body > .login-body {
    min-height: 100vh;
    padding-top: 20vh;
}

body > .register-body {
    min-height: 100vh;
    padding-top: 15vh;
}

.card-header {
    text-align: center !important;
    padding: 5px;
}

.card-footer {
    padding: 0 15px 15px 15px;
}

.card hr {
    border: solid #e5e5e5 2px
}

.error {
    transition: visibility 0s, opacity 0.5s linear;
}