body > .login-body {
    min-height: 100vh;
    padding-top: calc((100vh - 430px) / 4);
}

body > .register-body {
    min-height: 100vh;
    padding-top: calc((100vh - 630px) / 4);
}

nav {
    margin-bottom: 50px;
}

.register-body > .row, .login-body > .row {
    margin-bottom: 0;
}

.card-header {
    text-align: center !important;
    padding: 5px;
}

.card-footer {
    padding: 0 15px 15px 15px;
}

.card hr {
    border: solid #e5e5e5 2px
}

.error {
    transition: all 400ms ease-in-out;
    height: 0;
    opacity: 0;
}

.error.show {
    height: auto;
    opacity: 1;
}